<?php echo $user['email']; ?>


 // public function display () {
     //     $this->load->model('Ektreemodel');
     //     $data['query']=$this->Ektreemodel->display();
     //     $this->load->view('table',$data);
     //  }



      <?php foreach ($query as $row  ): ?> 
 	
    <?php echo $row->name; ?><br>
    <?php echo $row->iam; ?><br>
    <a href ="mailto:<?php echo $row->email; ?>">Contact Student</a><br>
    <?php echo $row->studnetof; ?><br>
    <?php echo $row->skype; ?><br>
    <?php echo $row->ican; ?><br>
    <?php echo $row->describe; ?><br>
    <?php echo $row->country; ?><br>
     
<?php endforeach; ?> 


<div class="panel panel-default">
                <div class="panel-body">
               <a href="#">
               <img class="media-object img-circle" src="/assets/img/student.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                </a>
                </div>
                <h4><a href="#" style="text-decoration:none;"><strong><?php echo $user['name']; ?></strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a></small></small></h4>
                 <span>
                <div class="navbar-right">
                <div class="dropdown">
              <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <i class="fa fa-cog" aria-hidden="true"></i>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                <li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>
                <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
            <li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                </ul>
                 </div>
                </div>
                 </span>
                <hr>
                <div class="post-content">
                 <p id="result"></p>
                </div>
             <hr>
                 <div>
                <div class="pull-right btn-group-xs">
                <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a
                <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
                <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
                </div>
                <div class="pull-left">
                <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public</p>
                 </div>
                <br>
            </div>
                <hr>
            <div class="media">
            <div class="pull-left">
                <a href="#">
                <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                 </a>
                </div>
                <div class="media-body">
             <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
                </div>
            </div>
                   </div>
                </div>





                 <!--    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span>
                     
                         <textarea name="message" class="message" id="message" placeholder="Write here the message" style="min-width: 100%"></textarea>
                    </span>

                    <span class="pull-left">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i>Help me!</a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-picture-o" aria-hidden="true"></i> Photos </a>
                        <button type="button" id="submit">Submit</button>
                       
                    </span>
                    <span class="pull-right">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-at" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Mention"></i></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Message"></i></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-ban" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Ignore"></i></a>
                    </span>
                </div>
            </div>
            

            <div class="comments-list">
                <ul class="comments-holder-ul">
                <?php 
                $comments = array("a","b","c","d" );
                foreach ($comments as $key => $comment):?>


              
                
                <?php endforeach; ?>
                    
                </ul>
                
            </div>
        </div> -->







          <script type="text/javascript">
    //     $(function() {
    //         $('#submit').click(function() {
    //             var post_data = {
    //                 'message': $("#message").val(),
    //                 '<?php echo $this->security->get_csrf_token_name(); ?>':
    //                 '<?php echo $this->security->get_csrf_hash(); ?>'
    //             };
    //             $.ajax({
    //                 type: "POST",
    //                 url: "<?php echo base_url(); ?>index.php/insertByajax",
    //                 data: post_data,
    //                 success: function(message) {
    //                     comment_insert();
    //                     $("#result").html(message);
    //                 }
    //             });
    //         });
    //         function comment_insert()
    //         {
    //             var t='';
    //             t+= '<div class="panel panel-default">';
    //             t+= '<div class="panel-body">';
    //             t+=  '<div class="pull-left">';
    //             t+=   '<a href="#">';
    //             t+=   '<img class="media-object img-circle" src="/assets/img/student.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">';
    //             t+=   ' </a>';
    //             t+=  '</div>';
    //             t+=   '<h4><a href="#" style="text-decoration:none;"><strong><?php echo $user['name']; ?></strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a></small></small></h4>';
    //             t+=  ' <span>';
    //             t+=   '<div class="navbar-right">';
    //             t+=   ' <div class="dropdown">';
    //             t+=   '<button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">';
    //             t+= ' <i class="fa fa-cog" aria-hidden="true"></i>';
    //             t+=  '  <span class="caret"></span>';
    //             t+=  '</button>';
    //             t+=  '  <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">';
    //             t+=  ' <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>';
    //             t+=  '<li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>';
    //             t+=  ' <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>';
    //             t+=  '<li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>';
    //             t+=  '<li role="separator" class="divider"></li>';
    //             t+=  '<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>';
    //             t+=  ' </ul>';
    //             t+= ' </div>';
    //             t+=  '</div>';
    //             t+=  ' </span>';
    //             t+= '<hr>';
    //             t+= ' <div class="post-content">';
    //             t+=  ' <p id="result"></p>';
    //             t+=  '</div>';
    //             t+=  '<hr>';
    //             t+= ' <div>';
    //             t+=  '<div class="pull-right btn-group-xs">';
    //             t+=  ' <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>';
    //             t+=   '<a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>';
    //             t+=   ' <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>';
    //             t+=  '</div>';
    //             t+=  '<div class="pull-left">';
    //             t+=    '<p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public</p>';
    //             t+=   ' </div>';
    //             t+=    '<br>';
    //             t+=   '</div>';
    //             t+='<hr>';
    //             t+=   '<div class="media">';
    //             t+=   '<div class="pull-left">';
    //             t+=     '<a href="#">';
    //             t+=       ' <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">';
    //             t+=    ' </a>';
    //             t+=   '</div>';
    //             t+=   '<div class="media-body">';
    //             t+=       '<textarea class="form-control" rows="1" placeholder="Comment"></textarea>';
    //             t+=   '</div>';
    //             t+=   '</div>';
    //             t+=   '</div>';
    //             t+=  '</div>';
    //             $('.comments-holder-ul').prepend(t);
    //         }
    //     });

        
    // </script>