<div class="comments-list">
	<ul class="comments-holder-ul">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="pull-left">
					<a href="#">
						<img class="media-object img-circle" src="/assets/img/student.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
					</a>
				</div>
				<h4 ><a href="#" style="text-decoration:none;"><p id="usernameout"> <strong>Saied Trefi</strong></p>  </a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> </i></a></small></small></h4>
				
				<span>
					<div class="navbar-right">
						<div class="dropdown">
							<button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<i class="fa fa-cog" aria-hidden="true"></i>
							<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
								<li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
								<li >
									<li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
									<li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
								</ul>
							</div>
						</div>
					</span>
					<hr>
					<div id='2'class="content">
						<p id="result">WW</p>
					</div>
					
					
					<div>
						
						<br>
					</div>
					
					<div class="media">
						<div class="pull-left">
							<div>
								
							</div>
							
							
							<div class="media-body">
								<form action="http://localhost:8888/index.php/answer" target="_blank">
									<button   id="answer" type="submit" class="btn btn-danger" >Answer The question</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<br><br>
				
			</div>