.bgimage {
  background-image:url("/assets/img/basic.png");
  background-size: 100%;
}
.bgimage-inside {
	padding-top: 50%; 
}
.paddingleft{
	padding-left: 70px;
	padding-top: 30px;
}
.paddinglefpic{
	padding-top: 100px;
	padding-right: 100px;
}