
#container {
  height: 400px;
  width: 400px;
}
#eyeball{
  margin-top: 50px;
  margin-left: 50px;
  background: radial-gradient(circle at 100px 100px);
  height: 300px;
  width: 300px;
  border-radius: 100%;
  position: relative;
}
#iris{
  top: 10%;
  left: 10%;
  background: radial-gradient(circle  at 100px 100px, #4DC9EF, #000);
  height: 80%;
  width: 60%;
  border-radius: 100%;
  position: absolute;
}
#pupil{
  top: 30%;
  left: 20%;
  background: radial-gradient(circle  at 100px 100px, #000000, #000); 
  height: 60%;
  width: 60%;
  border-radius: 100%;
  position: absolute;
}
@keyframes move {
  50% {transform: translate(-50px, 50px);}
}
@keyframes move2 {
  50% {transform: translate(-20px, 20px);}
}
#eyeball2{
  margin-top: 50px;
  margin-left: 50px;
  background: radial-gradient(circle at 100px 100px);
  height: 300px;
  width: 300px;
  border-radius: 100%;
  position: relative;
}
#iris2{
  top: 10%;
  left: 10%;
  background: radial-gradient(circle  at 100px 100px, #4DC9EF, #000);
  height: 80%;
  width: 60%;
  border-radius: 100%;
  position: absolute;
}
#pupil2{
  top: 30%;
  left: 20%;
  background: radial-gradient(circle  at 100px 100px, #000000, #000); 
  height: 60%;
  width: 60%;
  border-radius: 100%;
  position: absolute;
}
.eye1{
  padding-left: 100px;
  padding-top: 10px;
  margin-top: 20px;
}
.eye2{
  
  margin-top: 20px;
}
.roweye{
  margin-left: 120px;
  margin-top: 70px;
}
.nosie{
  width: 100px;
  height: 100px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.noiserow
{
  margin-left: 630px;

}
.mouth {

  z-index: 1;
  top: 10px;
  left: 0;
  right: 0;
  height: 120px;
  width: 700px;
  margin: 0 auto;
  border-bottom: 8px solid #222;
  border-radius: 90%;
}
.linesrow{
  margin-left: 500px;
}