.headPage
{
  background:whitesmoke;

}


.bg-circle
{
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 14px 4px;
  text-align: center;
  border-radius: 50%;
}
.bg-circle-outline
{
  width: 50px;
  height: 50px;
  color:smoke;
  padding: 8px 2px;
  border: 2px solid;
  border-color: smoke;
  border-radius: 50%;
}

.col1{
	background-image: url(../img/Europe.jpg);
  width: 110%;
  
}


.footer {
  height: 220px;
  margin-top: 300px;
  background-color: #000 !important;
  width: 100%;
}

.text-danger{
	padding-top: 40px;
	padding-left: 40px;
	font-size: 50px;
	color: white;
  font-style: italic;
  font-family: "Times New Roman", Georgia, Serif;
}


.blog{
    color: white;
}
