.bg-primary {
 background-color: #000 !important;
}
.bg-circle
{
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 14px 4px;
  text-align: center;
  border-radius: 50%;
}
.bg-circle-outline
{
  width: 50px;
  height: 50px;
  color:smoke;
  padding: 8px 2px;
  border: 2px solid;
  border-color: smoke;
  border-radius: 50%;
}
.bg-circle a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}
.bg-circle-outline a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}
.footer {
  height: 250;
  width: 110%;
  margin-top: 300px;
  background:#FFFFFF;
}
.pan
{        
    
    width:20%;
    height:2400px;
    float:right;
}
#heading
{
	background-color:#A0522D;
	background-color:#0000FF;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}

#welcome
{
	color: white;
}
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad{
  margin-top:20px;
}

#des
{
  padding-left: 50px;
  font-size:20px;
}