.paddingsmall{
	padding: 20px;
	margin-top: -19px;
}
.paddingsmall2{
	padding: 20px;
}
.paddingsmall3{
	padding: 20px;
	margin-top: -20px;
}
.bgimage {
  background-image:url("/assets/img/bg.jpg");
  background-size: 100%;
  margin-top: -30px;
}
.paddingbig{
	padding-left: 50px;
	padding-bottom: 50px;
}
.paddinglast{
	padding: 50px;
}

