.paddingsmall{
	padding: 10px;
}
.whitebg{
	background-color: white!important;
}
#topmenu li>a{
	color: 999999;
	text-decoration: none;
	font-size: 12px;
	padding-top: 0px;
}
.myactive{
	background-image: url("img/activebg.png");
	background-repeat: no-repeat;
    background-position: center; 
    
}
.margbigback{
	margin-left: -174px;
}
#topmenu2{
	min-width: 100%;
}
#topmenu2>li>a
{
	color: 999999;
	text-decoration: none;
	font-size: 16px;
	padding-top: 0px;
	padding-top: 24px;


}
#topmenu2 li{
	margin-left: 65px;

}
.mainimage{
	min-width: 100%;
	max-width: 100%;

}
.basemenu{
	background-color: #f4f4f4;
}
#basemenu li>a{
	margin-top:25px;
	margin-bottom: 25px;
	color: 333333;
	text-decoration: none;
	font-size: 16px;
	padding-left: -50;
}

.backcolor{
	background-color: #f4f4f4;
}
.paddinglittle{
	padding-top: 8px;
	padding-bottom: 30px;
}
.paddingimg{
	margin-top: -7px;
	padding-left: 20px;
}
.paddingdown{
	padding-bottom: 165px;
	-webkit-box-shadow: 0px 9px 10px 0px rgba(222,222,222,1);
	-moz-box-shadow: 0px 9px 10px 0px rgba(222,222,222,1);
	box-shadow: 0px 9px 10px 0px rgba(222,222,222,1);
}
.bgimage {
  background-image:url("/assets/img/pattern.png");
  background-size: 100%;
}
.bgimage-inside {
	padding-top: 37.36%; 
}
.mainimage{
 	-webkit-box-shadow: 0px 9px 10px 0px rgba(222,222,222,1);
	-moz-box-shadow: 0px 9px 10px 0px rgba(222,222,222,1);
	box-shadow: 0px 9px 10px 0px rgba(222,222,222,1);
}

.chevron{
  background-color: rgb(174, 202, 204);
  
  left: 23px;
  top: 254px;
  width: 252px;
  height: 58px;
  z-index: 17;
}










 
​



