.rowset{
	background-image: url(../img/Europe.jpg);
	/*height: 300px;*/
	height: 100%;

  /*margin: 0;*/
}
.login
{
	color: white;
}
.text-center
{
	color: white;
}
.footInfo{
	color: blue;
	font-size:25px;
}

#heading
{
	background-color:#A0522D;
	background-color:#A0522D;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}
.banner 
{
	height: 100px;
	width: 100%;
	padding-bottom: 20px;
}
.button3 {
	width: 100%;
	-moz-box-shadow:inset 0px 34px 0px -15px 	#A0522D;
	-webkit-box-shadow:inset 0px 34px 0px -15px #A0522D;
	box-shadow:inset 0px 34px 0px -15px  #A0522D;
	background-color:	#A0522D;
	border:1px solid 	#A0522D;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px 20px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}

.whw{
	visibility:hidden;
}

.button3 {
	position:relative;
	top:1px;
}
.art{
	font-family:Arial;
	font-size:15px;
}
.creatbutton{
	background-color:#A0522D;
	margin-left: -20px;
}
.Font1{
	text-align:center;
	font-family:Arial;
	font-weight:bold;
}
.bground{
	background-color:#A0522D;
	color: white;
	font-size:20px;
}
#success
{
margin-left: 20px;
background-color:#A0522D;

}
.sucessfont 
{
	margin-top: 20px;
	margin-left: 20px;
}
.thisimage {
	margin-left: 50px;
}
.fcol{
	
	margin-bottom: 20px;
	
}
.headfont{
	
	font-family: "Helvetica Neue";
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 6.5px;

}
.imageContainer {
        
       height:300px; 
       background-image: url(/assets/img/banner.png);
 }
 .fontban {
 	color: white;
 	margin-left: 20px;
 	font-size:15px;
 }

 .slidingDiv {
    height:300px;
    padding:20px;
    margin-top:10px;
    border-bottom:5px solid #3399FF;
}

.show_hide {
    display:none;
}
#hp-ctn-howItWorks
{
    position:fixed;
    top:300px;
    left: 0px;
    padding:0px;
    margin:0px;
    width: 40px;
    height:160px;
    background:#FF931E;
    z-index:15;
    border-radius: 3px 0px 0px 3px;
}

#hp-ctn-howItWorks img
{
    margin: 15px 0px 0px 13px;
}

#hp-ctn-howItWorks p
{
    color: #fff;
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
}
.line{
	height: 40px;
	color: #fff;
}
.langrowlan{
	margin-top: 30px;
	padding-bottom: 50px;
}
.fan 
{
	margin-left: 130px;
}
.clearfix 
{
	border-right:  solid #A0522D;

}
.arti 
{
	margin-top: 40px;
	margin-bottom: 40px;
}
.thisthis{
	background-color:#A0522D;
	height: 200px;
}
.firstthing 
{
	border-top:  solid #A0522D;
}


.this{
	color: red;
	height: 10px;
}



